# dependencies
/node_modules

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# env
.env
.env.local
.env.production

# database (local SQLite dev fallback)
prisma/dev.db
prisma/dev.db-journal

# user uploads (dev storage)
/public/uploads/*
!/public/uploads/.gitkeep

# misc
.DS_Store
*.pem
*.tsbuildinfo
.vercel
